* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background-color: black;
}

header {
    text-align: center;
}

h1 {
    font-size: 4rem;
    line-height: 1.5;
    word-spacing: 2px;
    font-family: "Patrick Hand", cursive;
    color: rgb(68, 231, 68);
    display: inline;
    font-weight: 900;
    font-style: bold;
}

.dice {
    text-align: center;
}

h3 {
    font-size: 2rem;
    word-spacing: 1px;
    color: blue;
    font-family: "Teko", sans-serif;
    letter-spacing: 2px;
    word-spacing: 3px;
}

footer {
    text-align: center;
    color: green;
    font-family: "Shadows Into Light", cursive;
    margin: 10rem;
    font-size: 1.5rem;
}

footer span {
    color: white;
    font-style: italic;
    font-family: "Shadows Into Light", cursive;
    font-size: 1.5rem;
    letter-spacing: 2px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2% 50%;
}

.dice1 {
    margin-right: 10rem;
}

img {
    margin: 6% 0;
    width: 12rem;
}